.layout-container {
	display: flex;
	flex-direction: row;
}

.content-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	flex: 1;
	align-items: flex-start;
}

.sidebar-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 10%;
}

@media screen and (max-width: 768px) {
	.sidebar-container {
		background: var(--bg-primary);
		width: 100%;
		flex-direction: row;
		justify-content: space-evenly;
		position: fixed;
		bottom: 0;
	}
}

.sidebar-item {
	padding: 2rem 1rem;
}

.sidebar-item svg {
	fill: var(--text-primary);
}

.button-sidebar {
    padding: 0;
}

.button-sidebar svg:hover {
	fill: var(--yellow-hover);
}