.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 1em;
}

.navbar-group {
	display: flex;
	align-items: center;
}

#drawer-button {
	cursor: pointer;
}

#drawer {
	background: var(--grey);
	height: 100vh;
	width: 50vw;
	position: fixed;
	top: 0;
	display: none;
}

.drawer-body {
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#logo {
	display: block;
	padding-right: 3em;
}

.search-bar {
	display: none;
}

.auth {
	display: none;
}

.drawer-close-container {
	display: flex;
	justify-content: flex-end;
}


/* Desktop */
@media screen and (min-width: 768px) {
	.navbar {
		padding: 0.5em 1em;
	}

	#drawer-button {
		display: none;
	}

	#search-icon {
		display: none;
	}

	.search-bar {
		display: flex;
		align-items: center;
		padding-left: 1em;
	}

	.auth {
		display: block;
	}
}